apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: producao
  labels:
    app: nginx
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80        # Porta interna do Service
    targetPort: 80  # Porta do container
    nodePort: 30080 # Porta externa (30000-32767)
  sessionAffinity: ClientIP  # Sticky sessions
